<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/Home.css') }}">
    <script type="text/javascript" defer src="{{ url_for('static', filename='js/Home.js') }}"></script>
</head>

<body>
    <h1>log your memory</h1>
    
    <div class="calendarBox">
        <div id="month"></div>
        <img class="icon1" src="{{ url_for('static', filename='img/icon.png') }}">
        <div id="calendar"></div>
    </div>
    

</body>


</html>